# Puerto del Servidor Node
PORT=3000

# Secreto para firmar tokens JWT (cámbialo por una cadena larga aleatoria en producción)
JWT_SECRET=supersecretjwt_key!

# -- Configuración de Base de Datos --
# Puedes elegir utilizar una URI completa:
# DATABASE_URL=mysql://usuario:password@host:port/dbname

# O usar variables individuales:
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_NAME=applyx
