# URL de la API del Backend (Cambiar al link de Render en producción, ej: https://tu-backend.onrender.com/api)
VITE_API_URL=http://localhost:3000/api

# Google OAuth Client ID
VITE_GOOGLE_CLIENT_ID="AQUI_VA_TU_CLIENT_ID_DE_GOOGLE"
